.element__trash {
  position: absolute;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  background-position: center;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.element__trash:hover {
  opacity: 0.5;
}