.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 19px;
  background-position: center;
  border-color: transparent;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}