.footer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 880px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 730px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 530px;
  }
}

@media (max-width: 575px) {
  .footer {
    max-width: 425px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding: 48px 19px 36px;
  }
}

