.profile__edit-img {
  background: none;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  border-radius: 50%;
  
}

.profile__edit-img:hover {
  background-image: url(../../../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);

}