.header {
  display: flex;
  width: 100%;
  align-items: flex-end;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1024px) {
  .header {
    max-width: 730px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 530px;
  }
}

@media (max-width: 575px) {
  .header {
    max-width: 425px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
  }
}