.form__input {
  box-sizing: border-box;
  min-width: 358px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #00000033;
  outline: none;
}

/*.form__input:last-of-type {
  margin-bottom: 48px;
}*/

@media (max-width: 575px) {
  .form__input {
    min-width: 238px;
  }
}