.submit-button {
  background-image: url(../../images/SubmitButton.png);
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  padding: 0;
}

.submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 575px) {
  .submit-button {
    background-image: url(../../images/SubmitButtonMobile.png);
    width: 238px;
    height: 46px;
  }
}